body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.nave {
    margin-bottom: 15px;
    background-color: rgb(209, 216, 250);
}
.nave2 {
    background-color: rgb(209, 216, 250);
}
li {
    display: inline-flex;
    padding: 10px;
    margin-right: 120px;
    margin-left: -12px;
}
a {
    text-decoration: none;
    color: rgb(11, 10, 19);
    font-size: 18px;
    font-weight: 500;
}

.cadastro {
    margin: 0 auto;
    width: 100%;
}

.campos {
    float: left;
    width: 30%;
    margin-bottom: 20px;
    margin-left: 30px;
}
.campos2 {
    width: 46%;
    float: left;
    margin-bottom: 20px;
    margin-left: 28px;
}

.table {
    margin-top: 25px;
}

.titulo {
    display: inline-flex;
}

.form-label {
    font-weight: 500;
}

.form-control {
    height: 30px;
    float: right;
}

button {
    margin-top: 10px;
    float: right;
    right: 20px;
}



