<!DOCTYPE html>
<html lang="pt=br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Empresa de Turismo</title>
</head>
<body>
    <div class="container">
        <nav class="nave">
            <ul>
                <li><h3>Cadastro de Viagens</h3></li>
                <li><a href="motorista.html">Motorista</a></li>
                <li><a href="carro.html">Carro</a></li>
            </ul>
        </nav>
        <section class="cadastro">
            <form class="row g-3 "></form>
            <div class="campos2">
                <div class="col-md-12">
                    <label for="id" class="form-label">Id</label>
                    <input type="text" class="form-control" id="id" value="Cnh" required>  
                </div>
                <div class="col-md-12">
                    <label for="dataSaida" class="form-label">Data Saída</label>
                    <input type="date" class="form-control" id="dataSaida" value="15-10-2021" required>
                </div>
                <div class="col-md-12">
                    <label for="cnhMotorista" class="form-label">Cnh Motorista</label>
                    <input type="text" class="form-control" id="cnhMotorista" value="11122233344" required>  
                </div> 
            </div>
                <div class="campos2">
                    <div class="col-md-12">
                        <label for="destino" class="form-label">Destino</label>
                        <input type="text" class="form-control" id="destino" value="Luciano Holz" required>
                    </div>
                    <div class="col-md-12">
                        <label for="dataRetorno" class="form-label">Data Retorno</label>
                        <input type="date" class="form-control" id="dataRetorno" value="16-10-2021" required>
                    </div>
                    <div class="col-md-12">
                        <label for="renavamCarro" class="form-label">Renavam Carro</label>
                        <input type="text" class="form-control" id="renavamCarro" value="00112233445" required>  
                    </div> 
                    <div >
                        <button class="btn btn-primary" type="submit">Cadastrar</button>
                    </div>
                </div>  
                
            </form>
            
        </section>
        <section class="resultado">
            <table class="table">
                <thead class="nave2">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Data Saída</th>
                    <th scope="col">Data Retorno</th>
                    <th scope="col">Cnh Motorista</th>
                    <th scope="col">Renavam Carro</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Gramado</td>
                    <td>15-10-2021</td>
                    <td>16-10-2021</td>
                    <td>11122233344</td>
                    <td>00112233445</td>
                  </tr>
                </tbody>
              </table>
        </section>
    </div>
</body>
</html>